.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.App-particles__container {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}
