body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, #a634bd 0%, #02b1a2 100%); 
  min-height: 100vh;
}

button {
  cursor: pointer;
}